

//Add Listings

.Vposted {
    margin-top: 200px;
    text-align: center;
    font-size: 40px;
}
.VdropDown {
    display: inline-block;
}

.VdropDownOne {
    display: inline-block;
    margin: 10px;
}

.VdropDownTwo {
    display: inline-block;
    margin: 10px;
}

.VdropDownThree {
    display: inline-block;
    margin: 10px;
}

.Vcondition {
 text-transform: uppercase;
}

.VaddListingsInfo {
    margin-left: 300px;
    margin-right: 300px;
}

#VregPrice {
    margin-right: 10px;
    color: white;
    box-shadow: 1px 2px #8c8c8c;
    border-radius: 10px; 
}

#VaddListingJumbo {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 20px;
    box-shadow: 0 0 10px black;
}

.VaddListingsInfo {
    margin-top: 80px;
    background: aliceblue;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px;
  }

  #VaddListingBtn, #VdropBtn, #VsalePrice {
    color: white;
    box-shadow: 1px 2px #8c8c8c;
    border-radius: 10px;  
  }

  #formGroupExampleInput {
      border: inset;
  }
  

//Listings

.VfirstRow, .VsecondRow {
    display: inline-block;
    margin-bottom: 60px;
}

.Vitem1, .Vitem2, .Vitem3, .Vitem4 {
    display: inline-block;
    margin-right: 40px;
}


//Cart

.Vcart {
    margin-left: 150px;
    margin-right: 150px;
}

#VcartCard {
    max-width: 800px;
}

#VcartBox {
    display: inline-block;
    background: aliceblue;
    box-shadow: 0 0 5px black;
    border-radius: 5px;

}

#VcartHeader {
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

.VitemImage {
    float: left;
    margin-left: 30px;
    margin-right: 20px;
    border-style: solid;
    border-color: white;
}

#VcartInput {
    width: 40px;
}

.VitemInfo {
    display: inline-block;
    margin: auto 0;

}

#VcartRemoveBtn {
    box-shadow: 1px 2px #8c8c8c;
    margin-right: 10px;
    color: white;
}

#VcartAddBtn {
    box-shadow: 1px 2px #8c8c8c;
    color: white;
}

#VcartJumbo {
    margin-top: 15px;
    padding: 20px;
    box-shadow: 0 0 10px black;
}

//CheckOut
.VcheckOut {
    margin-left: 150px;
    margin-right: 150px;
    max-width: 1000px;

}

#VcheckoutInput {
    border: inset;
}

#VcheckoutBtn {
    box-shadow: 1px 2px #8c8c8c;
}

#VcheckOutBox, #VcheckoutBody {
    background: aliceblue;
    box-shadow: 0 0 5px black;
}

#VcheckoutHeader {
    box-shadow: 0 0 5px black;
}

.Vexpiration {
    border: 1px solid #bbbbbb;
}

.Vexpiration input {
    border: 1px ;
}

.VexpirationDiv {
    display: inline-block;
    margin-right: 40px;
    color: #9E9898;
}

.VpostalCodeDiv {
    display: inline-block;
    margin-right: 40px;
    color: #9E9898;
}

.VsecurityCodeDiv {
    display: inline-block;
    color: #9E9898;
}

.VstateDiv {
    display: inline-block;
    margin-right: 40px;
    color: #9E9898;
}

#VsubTotal {
    font-size: 50px;
}

#VcheckoutJumbo {
    margin-top: 15px;
    padding: 20px;
    box-shadow: 0 0 10px black;
}

  //Nav Bar
#EnavBar {
    background: #86b7e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin: 0;
    box-shadow:0 3px 14px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    position: fixed;
    top: 0;
    width: 100%;
    border-color: white;
    border-style: outset;
    z-index: 10;
}

#EnavTitle {
    font-family: cursive;
    font-size: 55px;
    text-shadow: 0 0 3px white;
}

#EnavUl {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}

#EnavLi {
    display: inline-block;
    padding: 10px;
    color: white;
    transition: .8s;
}


#EnavButton {
    background: rgb(41, 41, 41);
    color: white;
    font-size: 15px;
    padding: 20px;
    border-radius: 20px;
    box-shadow:  3px 3px rgba(0, 0, 0, 0.3), 0 0 3px;
    transition: all .5s ease-in-out;
}

#EnavButton:hover {
    color:white;
    background-color: rgb(0, 0, 0);
    border-radius: 35px;
    transition: all .5s ease-in-out;
}


#EnavButton:focus {
  outline: none;
}

//Categories Bar
#EcatBar {
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    margin-top: 130px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    width: 100%;
}

#EcatList {
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    padding: 10px;
    color: white;
    transition: .8s;
  }
  #EcatList:hover {
    color: white;
    border-radius: 20px;
    transition: .8s;
    padding: 5px;
  }
  
  #EcatButton {
    color: black;
    font-size: 35px;
    transition: all 0.5s ease-in-out;
  }
  
  #EcatButton:hover {
    color: #86b7e1;
    text-shadow: 1px 2px navy;
    transition: all 0.5s ease-in-out;
  }
  
  #EcatButton:focus {
    outline: none;
  }

#EcatUl {
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    height: 80px;
    width: auto;
    display: flex;
    justify-content: center;
}

//Home Page
#EhomeImg {
    height: auto;
    width: 100%;
}

#EhomeCard1 {
    background: pink;
    height: auto;
    width: 100%;
}

div.Egallery {
    border: 1px solid #ccc;
}

div.Egallery:hover {
    border: 1px solid #777;
}

div.Egallery .EhomeImg {
    width: 100%;
    height: auto;
}

div.EimgDesc {
    padding: 15px;
    text-align: center;
    background: aliceblue;
}

* {
    box-sizing: border-box;
}

.Eresponsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    box-shadow:  0  0 10px;
    margin-top: 30px;
    opacity: .85 ;
    transition: all .5s ease-in-out;
}

.Eresponsive:hover {
    opacity: 1.0;
    transition: all .5s ease-in-out;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

//Login
.Ashortbg{
    color: navy;

}

#Amb-1{
    margin-top: 102px;
    margin-bottom: 0px;
    padding: 20px;
    box-shadow: 0 0 10px black;
}


#AloginHeader {
    box-shadow: 0 0 5px black;
    z-index: 1
}

#Alogin-form {
    background: aliceblue;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

#AloginFooter {
    box-shadow: 0px black;
}

#AloginBtn {
    box-shadow: 1px 2px #8c8c8c;
}

#AloginEmail, #AloginPassword {
    border: inset;
}

//Sign up
#Asignup-form {
    background: aliceblue;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

#AsignupHeader {
    box-shadow: 0 0 5px black;
    z-index: 1
}

#AsignupCard {
    margin-top:0px;
}

#AsignupBtn {
    box-shadow: 1px 2px #8c8c8c;
}

#AusernameSignup, #AemailSignup,
#ApasswordSignup, #AnameSignup,
#AphoneNumberSignup,
#AaddressSignup {
    border: inset;
}

.dtable {
    background-color: aliceblue;
}

// DEVIN's styles
.dClickable {
    cursor: pointer;
}

.dClickable:hover {
    text-decoration: underline;
}

.dTextCenter {
    text-align: center;
}

.dTopMargin {
    margin-top: 150px;
}
// END of DEVIN's styles

//Details Page

  
#EdetailsRow {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  #EdetailsCol8, #EdetailsCol4 {
    margin-top: 180px;
    background: #99aed270;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    box-shadow: 0 0 5px;
  }

#EdetailsSpan {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0 0 2px;
    background: aliceblue;
    width: 120px;
    border-radius: 5px;
}
  

#EdetailsFooter {
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0 0 2px black;
    margin-top: 1px;
    border: solid;
    border-color: white;
}

#col8Card {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 2px;
    background: aliceblue;
}

#EdetailsBtn {
    background: #3b87f8;
    color: white;
    box-shadow: 1px 2px #8c8c8c;
    position: absolute;
    right:    0;
    bottom:   0;
    margin-right: 6px;
    margin-bottom: 6px;
    border-radius: 10px;
}

#EdetailsBtn:focus {
    outline: none;
}

#EdetailsBackBtn {
    color: white;
    box-shadow: 1px 2px #8c8c8c;
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    margin-left: 6px;
    margin-bottom: 6px;
}

#EdetailsBackBtn:focus {
    outline: none;
}

.EdetailsInput {
    width: 40px;
}

.EdetailsImg {
    border-style: solid;
    border-color: white;
    box-shadow: 0 0 5px;
}

  //Thankyou Page
  #thanksText {
    color: black;
  }
  #thanksCard {
    display: flex;
    align-items: center;
    justify-content: center;
    background: aliceblue;
    text-align: center;
    margin-top: 300px;
    box-shadow: 0 0 8px;
    border-radius: 20px;
  }
  

//Alonzo's detail show

  /**********/
 /* Slider */
/**********/
.slider {
    background-color: #fff;
    box-shadow: inset 0 0 2px hsla(0,0%,0%,.2),
                0 3px 1px hsla(0,0%,100%,.75),
                0 -1px 1px 2px hsla(0,0%,0%,.1);
    height: 18.75em;
    left: 50%;
    margin: -9.875em -13em;
    padding: .5em;
    position: relative;
    top: 50%;
    width: 25em;
    margin-top: 180px;
}
/* Frame */
.slider:before {
    background-color: #22130c;
    bottom: -2.5em;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,.2),
                inset 0 -2px 1px hsla(0,0%,0%,.4),
                0 5px 50px hsla(0,0%,0%,.25),
                0 20px 20px -15px hsla(0,0%,0%,.2),
                0 30px 20px -15px hsla(0,0%,0%,.15),
                0 40px 20px -15px hsla(0,0%,0%,.1);
    content: '';
    left: -2.5em;
    position: absolute;
    right: -2.5em;
    top: -2.5em;
    z-index: -1;
    border-radius: 25px;
}
/* Mat */
.slider:after {
    background-color: #6d8ec3;
    bottom: -1.5em;
    content: '';
    left: -1.5em;
    position: absolute;
    right: -1.5em;
    top: -1.5em;
    z-index: -1;
    border-radius: 10px;
}
/* Slides */
.slider li {
    box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);
    list-style:none;
    position: absolute;
}
.slider input {
    display: none;
}
/* Navigation */
.slider label {
    background-color: #111;
    background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));
    border: .2em solid transparent;
    bottom: .5em;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 1em;
    left: 24em;
    opacity: 0;
    position: absolute;
    transition: .25s;
    width: 1em;
    visibility: hidden;
    z-index: 10;
}
.slider label:after {
    border-radius: 100%;
    bottom: -.2em;
    box-shadow: inset 0 0 0 .2em #111,
                inset 0 2px 2px #000,
                0 1px 1px hsla(0,0%,100%,.25);
    content: '';
    left: -.2em;
    position: absolute;
    right: -.2em;
    top: -.2em;
}
.slider:hover label {
    opacity: 1;
    visibility: visible;
}
.slider input:checked + label {
    background-color: #fff;
}
.slider:hover li:nth-child(1) label {
    left: .5em;
}
.slider:hover li:nth-child(2) label {
    left: 2em;
}
.slider:hover li:nth-child(3) label {
    left: 3.5em;
}
.slider:hover li:nth-child(4) label {
    left: 5em;
}
/* Images */
.slider img {
    height: 18em;
    opacity: 0;
    transition: .25s;
    width: 24em;
    vertical-align: top;
    visibility: hidden;
}
.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}


 
